body{
    /* background-color: #9CC0E7; */
    /* background-color:#121212; */
    background-color:#c8c8c8;
    padding-top: 50px;
}

.sticky{
    /* background-color: #121212; */
    background-color: #e9e9e9;
    position:fixed;
    top:0;
    width: 100%;
    z-index: 1;
    border-bottom: none;
}
