.container{
    z-index: 1;
    background-color: #9CC0E7;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid black;
    border-radius: 5px;
    padding: 2%;
}

.thumbnail{
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
}

.bookInfo{
    width: 100%;
}

.listButtons{
    width: 110%;
    margin-left: 2%;
}

.iconButton{
    border: none;
    background:none;
}

#icon{
    font-size: 300%;
}

.buttonText{
    font-size: xx-small;
}

.reviewButtonContainer{
    display:block;
    margin: auto;
    border: 3px solid black;
    border-radius: 8px;
    width: fit-content;
    padding:0%;
    margin-bottom: 1%;
}

.review{
    margin-right: 2%;
    margin-left:2%;
    margin-bottom: 1%;
    border: 3px solid black;
    border-radius: 8px;
    padding: 1%;
}

.layer2{
    position:absolute;
    z-index: 2;
    opacity: .8;
}

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
  }

.layer3{
    position:absolute;
    z-index: 3;
    width: 100%;
    top:15%;
    left:3%;
}

.reviewForm{
    width: 80%;
    display: block;
    margin: auto;
    margin-left: 8%;
    margin-top:12%;
    background-color: white;
    padding-top: 0%;
    padding-bottom: 1%;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    background-color: #9CC0E7;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.reviewFormText{
    margin-left:5%;
}

.reviewFormButton{
    display:block;
    margin: auto;
    margin-top: 2%;
    width: 90%;
}

.closeFormButton{
    display: inline;
    float: right;
    margin-right: 5%;
}

textarea{
    width: 90%;
    padding-bottom: 15%;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    font-size: x-large;
}

