<div>
  <img class="col-md-3 col-sm-3" src="{{ getThumbnail(displayBook) }}" />
</div>
<h1>{{ displayBook.volumeInfo.title }}</h1>
<h2>Categories: {{ displayBook.volumeInfo.categories }}</h2>
<h3>Author(s): {{ displayBook.volumeInfo.authors }}</h3>
<h6>{{ displayBook.volumeInfo.description }}</h6>
<p>Page Count: {{ displayBook.volumeInfo.pageCount }}</p>
<p *ngIf="displayBook.volumeInfo.ratingsCount != undefined">
  Average Rating: {{ displayBook.volumeInfo.averageRating }} / 5
</p>
<p *ngIf="displayBook.volumeInfo.ratingsCount == undefined">
  Rating not available
</p>
<p *ngIf="displayBook.volumeInfo.ratingsCount != undefined">
  Number of Ratings: {{ displayBook.volumeInfo.ratingsCount }}
</p>
<p>Publisher: {{ displayBook.volumeInfo.publisher }}</p>
<p>Published Date: {{ displayBook.volumeInfo.publishedDate }}</p>

<div class="searchButtons">
  <button
    class="iconButton"
    *ngIf="loggedIn && !CheckIfInFavoriteList(displayBook)"
    (click)="addFavorite(displayBook)"
  >
    <span id="icon" class="material-symbols-outlined"> hotel_class </span>
    <br />
    <p class="buttonText">Favorite</p>
  </button>
  <p *ngIf="!loggedIn">Log in to create personalized lists</p>
  <button
    class="iconButton"
    *ngIf="loggedIn && !CheckIfInWishList(displayBook)"
    (click)="addToWishList(displayBook)"
  >
    <span id="icon" class="material-symbols-outlined"> menu_book </span>
    <br />
    <p class="buttonText">Wish List</p>
  </button>
  <button
    class="iconButton"
    *ngIf="loggedIn && !CheckIfInReadList(displayBook)"
    (click)="addToReadList(displayBook)"
  >
    <span id="icon" class="material-symbols-outlined"> bookmark_added </span>
    <br />
    <p class="buttonText">Already Read</p>
  </button>
  <button
    class="iconButton"
    *ngIf="loggedIn && !CheckIfInDeniedList(displayBook)"
    (click)="addToDeniedList(displayBook)"
  >
    <span id="icon" class="material-symbols-outlined"> dangerous </span>
    <br />
    <p class="buttonText">Uninterested</p>
  </button>
</div>
