<div>
  <img class="col-md-3 col-sm-3" src="{{ getThumbnail(displayBook) }}" />
</div>
<h1>{{ displayBook.volumeInfo.title }}</h1>
<h2>Categories: {{ displayBook.volumeInfo.categories }}</h2>
<h3>Author(s): {{ displayBook.volumeInfo.authors }}</h3>
<h6>{{ displayBook.volumeInfo.description }}</h6>
<p>Page Count: {{ displayBook.volumeInfo.pageCount }}</p>
<p *ngIf="displayBook.volumeInfo.ratingsCount != undefined">
  Average Rating: {{ displayBook.volumeInfo.averageRating }} / 5
</p>
<p *ngIf="displayBook.volumeInfo.ratingsCount == undefined">
  Rating not available
</p>
<p *ngIf="displayBook.volumeInfo.ratingsCount != undefined">
  Number of Ratings: {{ displayBook.volumeInfo.ratingsCount }}
</p>
<p>Publisher: {{ displayBook.volumeInfo.publisher }}</p>
<p>Published Date: {{ displayBook.volumeInfo.publishedDate }}</p>