<!-- contain for single book info -->
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <!-- book cover thumbnail -->
      <img class="thumbnail" src="{{ getThumbnail(displayBook) }}" />
      <!-- buttons for adding to list and seeing reviews -->
      <div class="listButtons">
        <!-- add displayed book to favorites button -->
        <button
          class="iconButton"
          *ngIf="loggedIn && !CheckIfInFavoriteList(displayBook)"
          (click)="addFavorite(displayBook)"
        >
          <span id="icon" class="material-symbols-outlined"> hotel_class </span>
          <br />
          <p class="buttonText">Favorite</p>
        </button>
        <button
          class="iconButton"
          *ngIf="loggedIn && CheckIfInFavoriteList(displayBook)"
        >
          <span id="icon" class="material-symbols-outlined"> check </span>
          <br />
          <p class="buttonText">Favorited</p>
        </button>
        <!-- message displayed instead of list add buttons if user is not logged in -->
        <p *ngIf="!loggedIn">Log in to create personalized lists</p>
        <!-- add displayed book to wishlist button -->
        <button
          class="iconButton"
          *ngIf="loggedIn && !CheckIfInWishList(displayBook)"
          (click)="addToWishList(displayBook)"
        >
          <span id="icon" class="material-symbols-outlined"> menu_book </span>
          <br />
          <p class="buttonText">Wish List</p>
        </button>
        <button
          class="iconButton"
          *ngIf="loggedIn && CheckIfInWishList(displayBook)"
        >
          <span id="icon" class="material-symbols-outlined"> check </span>
          <br />
          <p class="buttonText">In Wish List</p>
        </button>
        <!-- add displayed book to readlist button -->
        <button
          class="iconButton"
          *ngIf="loggedIn && !CheckIfInReadList(displayBook)"
          (click)="addToReadList(displayBook)"
        >
          <span id="icon" class="material-symbols-outlined">
            bookmark_added
          </span>
          <br />
          <p class="buttonText">Already Read</p>
        </button>
        <button
          class="iconButton"
          *ngIf="loggedIn && CheckIfInReadList(displayBook)"
        >
          <span id="icon" class="material-symbols-outlined"> check </span>
          <br />
          <p class="buttonText">In Read List</p>
        </button>
        <!-- add displayed book to denied list button -->
        <button
          class="iconButton"
          *ngIf="loggedIn && !CheckIfInDeniedList(displayBook)"
          (click)="addToDeniedList(displayBook)"
        >
          <span id="icon" class="material-symbols-outlined"> dangerous </span>
          <br />
          <p class="buttonText">Uninterested</p>
        </button>
        <button
          class="iconButton"
          *ngIf="loggedIn && CheckIfInDeniedList(displayBook)"
        >
          <span id="icon" class="material-symbols-outlined"> dangerous </span>
          <br />
          <p class="buttonText">Blocked</p>
        </button>
        <!-- button that toggles display for reviews of displayed book -->
        <button
          *ngIf="!showReviews"
          class="iconButton"
          (click)="toggleReviews()"
        >
          <span id="icon" class="material-symbols-outlined"> visibility </span>
          <br />
          <p class="buttonText">Show Reviews</p>
        </button>
        <button
          *ngIf="showReviews"
          class="iconButton"
          (click)="toggleReviews()"
        >
          <span id="icon" class="material-symbols-outlined">
            visibility_off
          </span>
          <br />
          <p class="buttonText">Hide Reviews</p>
        </button>
      </div>
      <button
        class="scrollRecommendButton"
        (click)="
          toggleUserRecommendation();
          getNotRecommendedTo(userFollowing, displayBook)
        "
      >
        Recommend
      </button>
    </div>

    <div class="col-md-8 col-sm-8">
      <!-- holds all info for displayed book -->
      <div class="bookInfo">
        <h1>{{ displayBook.volumeInfo.title }}</h1>
        <h2>Categories: {{ displayBook.volumeInfo.categories }}</h2>
        <h3>Author(s): {{ displayBook.volumeInfo.authors }}</h3>
        <h6>{{ displayBook.volumeInfo.description }}</h6>
        <p>Page Count: {{ displayBook.volumeInfo.pageCount }}</p>
        <p *ngIf="displayBook.volumeInfo.ratingsCount != undefined">
          Average Rating: {{ displayBook.volumeInfo.averageRating }}/5
          &nbsp;&nbsp; Number of Ratings:
          {{ displayBook.volumeInfo.ratingsCount }}
        </p>
        <p *ngIf="displayBook.volumeInfo.ratingsCount == undefined">
          Rating not available
        </p>
        <p>
          Published by {{ displayBook.volumeInfo.publisher }} on
          {{ displayBook.volumeInfo.publishedDate }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- display that holds buttons and reviews -->
<div *ngIf="showReviews" class="container">
  <div class="col-md-12 col-sm-12">
    <!-- container that holds buttons for review interactions -->
    <div *ngIf="loggedIn || reviews.length > 0" class="reviewButtonContainer">
      <!-- button that brings up form over page to write a review -->
      <button *ngIf="loggedIn" class="iconButton" (click)="toggleReviewForm()">
        <span id="icon" class="material-symbols-outlined"> history_edu </span>
        <br />
        <p class="buttonText">Write a Review</p>
      </button>
      <!-- button that displays reviews by most recent(default view) -->
      <button
        *ngIf="reviews.length > 0"
        class="iconButton"
        (click)="getReviews()"
      >
        <span id="icon" class="material-symbols-outlined">
          nest_clock_farsight_analog
        </span>
        <br />
        <p class="buttonText">Most Recent</p>
      </button>
      <!-- button for ordering reviews by most upvotes -->
      <button
        *ngIf="reviews.length > 0"
        class="iconButton"
        (click)="getTopReviews()"
      >
        <span id="icon" class="material-symbols-outlined">
          local_fire_department
        </span>
        <br />
        <p class="buttonText">Top Voted</p>
      </button>
    </div>

    <!-- container that holds all reviews for displayed book -->
    <div *ngIf="showReviews && reviews.length > 0">
      <!-- loops through all reviews of displayed book -->
      <div *ngFor="let r of reviews">
        <!-- container that holds an individual review of displayed book -->
        <div class="review">
          <!-- displays review info and text -->
          <h6>{{ r.userName }}</h6>
          <h6>{{ r.bookTitle }} by {{ r.author }}</h6>
          <h6>{{ formatReviewDate(r.datePosted) }}</h6>
          <p>{{ r.review1 }}</p>
          <p>Votes: {{ r.votes }}</p>
          <!-- button that upvotes review -->
          <button class="iconButton" *ngIf="loggedIn" (click)="Upvote(r)">
            <span id="icon" class="material-symbols-outlined"> thumb_up </span>
            <br />
            <p class="buttonText">Upvote</p>
          </button>
          <!-- button that downvotes review -->
          <button class="iconButton" *ngIf="loggedIn" (click)="Downvote(r)">
            <span id="icon" class="material-symbols-outlined">
              thumb_down
            </span>
            <br />
            <p class="buttonText">Downvote</p>
          </button>
        </div>
      </div>
    </div>
    <div>
      <h3 class="noReviewsMessage" *ngIf="reviews.length < 1">
        No Reviews Available
      </h3>
    </div>
  </div>
</div>

<!-- black screen image appears behind write review form to block page -->
<div
  *ngIf="
    showReviewForm || (toggleUserRecommendations && notRecommendedTo.length > 0)
  "
  class="layer2"
>
  <img src="../../assets/background.png" id="bg" />
</div>

<!-- box with users to reccomend to, floats above the page -->
<div class="recommendLayer3">
  <div
    *ngIf="toggleUserRecommendations && notRecommendedTo.length > 0"
    class="recommendUser"
  >
    <div>
      <div>
        <button
          class="iconButton closeFormButton"
          (click)="toggleUserRecommendation()"
        >
          <span id="icon" class="material-symbols-outlined"> close </span>
        </button>
      </div>
      <div>
        <h3>
          Choose users to recommend {{ recommendedBook.volumeInfo.title }} to:
        </h3>
      </div>
    </div>
    <div class="recommendBoxUsers">
      <div *ngFor="let u of notRecommendedTo">
        <img
          class="zoom"
          src="{{ u.photoUrl }}"
          (click)="sendRecommendation(recommendedBook, u)"
        />
        <h6 (click)="sendRecommendation(recommendedBook, u)">
          {{ u.name }}
        </h6>
      </div>
    </div>
  </div>
</div>

<!-- form for writing a review, floats above page  -->
<div *ngIf="showReviewForm" class="layer3">
  <div class="reviewForm">
    <!-- on submit the review is posted and the form disappears -->
    <form
      #Submit="ngForm"
      (ngSubmit)="PostReview(Submit); toggleReviewForm(); getReviews()"
    >
      <!-- button to close form without submitting review -->
      <button class="iconButton closeFormButton" (click)="toggleReviewForm()">
        <span id="icon" class="material-symbols-outlined"> close </span>
      </button>
      <!-- displays review writer and book review is being written for -->
      <h6 class="reviewFormText">{{ user.name }}</h6>
      <h6 class="reviewFormText">
        Write a review for {{ displayBook.volumeInfo.title }} by
        {{ displayBook.volumeInfo.authors }}
      </h6>
      <!-- label for review text input -->
      <label class="reviewFormText" for="review" name="review" id="review"
        >Review:</label
      >
      <br />
      <!-- text area for user to type review text -->
      <textarea name="review" ngModel></textarea>
      <!-- button to submit the review form -->
      <button class="reviewFormButton">Post Review</button>
    </form>
  </div>
</div>

<h3 *ngIf="authorBooks.items != undefined" class="authorRecommend">
  More By {{ author }}
</h3>
<div *ngIf="authorBooks.items != undefined" class="searchResultsContainer">
  <div
    class="searchBook"
    *ngFor="let b of CheckForDuplicateAny(authorBooks.items)"
  >
    <div class="searchResult">
      <!-- book cover thumbnail image routes to single book info page -->
      <div class="searchImageAndButtons">
        <div class="searchImage">
          <a routerLink="/Book/{{ getIsbn(b) }}"
            ><img class="zoom" src="{{ getThumbnail(b) }}"
          /></a>
          <button
            class="scrollRecommendButton"
            (click)="
              toggleUserRecommendation(); getNotRecommendedTo(userFollowing, b)
            "
          >
            Recommend
          </button>
        </div>
        <div class="searchButtons">
          <!-- button that adds book to favorites -->
          <button
            class="iconButton"
            *ngIf="loggedIn && !CheckIfInFavoriteList(b)"
            (click)="addFavorite(b)"
          >
            <span id="searchIcon" class="material-symbols-outlined">
              hotel_class
            </span>
            <br />
            <p class="buttonText">Favorite</p>
          </button>
          <button
            class="iconButton"
            *ngIf="loggedIn && CheckIfInFavoriteList(b)"
          >
            <span id="searchIcon" class="material-symbols-outlined">
              check
            </span>
            <br />
            <p class="buttonText">Favorited</p>
          </button>
          <!-- if user is not logged in they will get a message instead of buttons -->
          <p *ngIf="!loggedIn">Log in to create personalized lists</p>
          <!-- button that adds book to wishlist -->
          <button
            class="iconButton"
            *ngIf="loggedIn && !CheckIfInWishList(b)"
            (click)="addToWishList(b)"
          >
            <span id="searchIcon" class="material-symbols-outlined">
              menu_book
            </span>
            <br />
            <p class="buttonText">Wish List</p>
          </button>
          <button class="iconButton" *ngIf="loggedIn && CheckIfInWishList(b)">
            <span id="searchIcon" class="material-symbols-outlined">
              check
            </span>
            <br />
            <p class="buttonText">In Wish List</p>
          </button>
          <!-- button that adds book to readlist -->
          <button
            class="iconButton"
            *ngIf="loggedIn && !CheckIfInReadList(b)"
            (click)="addToReadList(b)"
          >
            <span id="searchIcon" class="material-symbols-outlined">
              bookmark_added
            </span>
            <br />
            <p class="buttonText">Already Read</p>
          </button>
          <button class="iconButton" *ngIf="loggedIn && CheckIfInReadList(b)">
            <span id="searchIcon" class="material-symbols-outlined">
              check
            </span>
            <br />
            <p class="buttonText">In Read List</p>
          </button>
          <!-- button that adds book to denied list -->
          <button
            class="iconButton"
            *ngIf="loggedIn && !CheckIfInDeniedList(b)"
            (click)="addToDeniedList(b)"
          >
            <span id="searchIcon" class="material-symbols-outlined">
              dangerous
            </span>
            <br />
            <p class="buttonText">Uninterested</p>
          </button>
          <button class="iconButton" *ngIf="loggedIn && CheckIfInDeniedList(b)">
            <span id="searchIcon" class="material-symbols-outlined">
              dangerous
            </span>
            <br />
            <p class="buttonText">Blocked</p>
          </button>
        </div>
      </div>
      <!-- holds information from book to display -->
      <div class="searchInfo">
        <!-- book title routes to single book info page -->
        <h6>
          <a routerLink="/Book/{{ getIsbn(b) }}">{{
            b.volumeInfo.title.length > 30
              ? (b.volumeInfo.title | slice: 0:30) + "..."
              : b.volumeInfo.title
          }}</a>
        </h6>
        <p>Author(s): {{ b.volumeInfo.authors }}</p>
        <p>Categories: {{ b.volumeInfo.categories }}</p>
      </div>
      <!-- holds buttons for books from search -->
    </div>
  </div>
</div>
