.searchBar{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.searchResultsContainer{
    display: flex;
    justify-content: space-between;
    background-color: #9CC0E7;
    border: 3px solid black;
    border-radius: 5px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;

    max-width: 100%;
    overflow:scroll;
    overflow-y:hidden;
}

.searchResult{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
    height: 100%;
    width: 300px;
    
}

.searchImage{
    width:100%;
    margin-bottom: 2%;
}

.zoom {
    transition: transform .5s;
    width: auto;
    height: auto;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1);
  }

.searchInfo{
    
    width:100%;
    margin-bottom: 1%;
}

.searchButtons{
    width:100%;
    float:inline-end;
}



.recommendedContainer{
    display:flex;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
    padding:2%;
    background-color: #9CC0E7;
    
}

.recommendedThumbnail{
    margin-right: 15%;
    padding-left: 0%;
}

.recommendedImage{
    transition: transform .5s;
    width: 150%;
    height: auto;   
}

.recommendedImage:hover{
    transform: scale(1.1);
}

.recommendedInfo{
    padding-right: 3%;
    width: 50%;
}

.recommendedButtons{
    padding-right: 3%;
}

.nextRecommendButton{
    margin-right: 3%;
}

#icon{
    font-size: 300%;
}

.buttonText{
    font-size: xx-small;
}

.iconButton{
    border: none;
    background:none;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Noto Sans', sans-serif;
}

a{
    color: rgb(20, 20, 20)
}

a:hover{
    color: rgb(0, 102, 255);
}

a:link{
    text-decoration: none;
}

