.searchBar{
    display: flex;
    justify-content: center;
    height: 30px;
}

.userSearchBar{
    display:flex;
    justify-content: center;
    height: 100%;
}

.chooseSearch{
    display: flex;
    justify-content: center;
    margin-top:2%;
}

.searchedUser{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 3px solid black;
    background-color: #9CC0E7;
    max-width: 30%;
    overflow:scroll;
    overflow-y:hidden;
    margin-left: 35%;
    margin-top: 1%;
}

.userSearchSeparation{
    display:flex;
    margin-top: 20%;
    margin-right: 5%;
}

.dropdownButtonText{
    margin-bottom: .1%;
}

.dropButtonTextAndIcon{
    display: flex;
    justify-content: center;
    height: 75%;
}

.dropdownBox{
    background-color: #EEEEEE;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin:0%;
}

.searchResultsContainer{
    display: flex;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    width:80%;
    margin-left: 10%;
    height: 10%;
    padding: none;
    border: none;
    max-width: 100%;
    overflow:scroll;
    overflow-y:hidden;
    margin-bottom: 1%;
}

.searchBook{
    margin-right: .2%;
}

.searchResult{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 300px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #9CC0E7;
}

.searchImageAndButtons{
    display:flex;
    justify-content: center;
}

.searchImage{
    width:100%;
    margin-right: 0%;
    margin-left: 8%;
    margin-top: 4%;
}

.zoom {
    transition: transform .5s;
    width: auto;
    height: auto;
    margin: auto;
  }
  
.zoom:hover {
    transform: scale(1.1);
    z-index: 0;
  }

.searchInfo{
    font-size: smaller;
    width:100%;
    margin-bottom: 1%;
    text-align: center;
}

.searchButtons{
    width:100%;
    margin:none;
    padding: none;
    display:flex;
    flex-direction: column;
}

#searchIcon{
    font-size: 220%;
}

.recommendedContainer{
    display:flex;
    justify-content: center;
    border: 3px solid black;
    border-radius: 5px;
    padding:2%;
    background-color: #9CC0E7;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1%;
}

.recommendedThumbnail{
    margin-right: 15%;
    padding-left: 0%;
}

.recommendedImage{
    transition: transform .5s;
    width: 150%;
    height: auto;   
}

.recommendedImage:hover{
    transform: scale(1.1);
}

.recommendedInfo{
    padding-right: 3%;
    width: 50%;
}

.recommendationRecommendButton{
    background: none;
  }

.recommendedButtons{
    padding-right: 3%;
}

.nextRecommendButton{
    margin-right: 3%;
    background-color: #EEEEEE;
}

.layer2{
    position:absolute;
    z-index: 2;
    opacity: .8;
}

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
  }

.layer3{
    position:fixed;
    z-index: 3;
    width: 200%;
    top:40%;
    left:18%;
}

.recommendUser{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #9CC0E7;
    max-width: 30%;
    margin-top: 1%;
    border: 3px solid black;
    border-radius: 5px;
    padding: 1px;
    padding-top: 5px;
}

.recommendBoxUsers{
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin-left: 10%;
    overflow:scroll;
    overflow-y:hidden;
}

.closeFormButton{
    display: inline;
    float: right;
    margin-right: 5%;
}

#icon{
    font-size: 300%;
}

.buttonText{
    font-size: xx-small;
}

.iconButton{
    border: none;
    background:none;
}

h1{
    margin-left: 10%;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Noto Sans', sans-serif;
}

a{
    color: rgb(20, 20, 20)
}

a:hover{
    color: rgb(0, 102, 255);
}

a:link{
    text-decoration: none;
}

.authorRecommend{
    margin-left: 10%
}

/* width */
::-webkit-scrollbar {
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .scrollRecommendButton{
    display: block;
    margin:auto;
    background: none;
  }
