<!-- 
<div class="row">
  <div
    id="carouselExampleControls"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="http://www.flightclub.com/media/catalog/product/2/0/201536_1.jpg"
          height="600px"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-product-thumbnail-01-en-14sep21?$facebook$"
          height="600px"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          height="600px"
          src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/ampere/rtx-3090/geforce-rtx-3090-shop-630-d@2x.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
 -->

<div class="searchBar">
  <form #Submit="ngForm" (ngSubmit)="SearchBooks(Submit)">
    <input type="text" name="title" placeholder="Search by title" ngModel />
    <input type="text" name="author" placeholder="Search by author" ngModel />
    <input type="text" name="subject" placeholder="Search by subject" ngModel />
    <button>Search</button>
  </form>
</div>
<!-- work with the div below to create a carousel -->
<div style="overflow: auto; white-space: nowrap">
  <div class="searchResults" *ngFor="let b of books.items">
    <div *ngIf="getThumbnail(b) != undefined" class="row-10 offset-1">
      <!-- goes in div above: class="row-10 offset-1" -->
      <div class="col-2">
        <img src="{{ getThumbnail(b) }}" />
      </div>
      <div class="col-6 searchInfo">
        <h4>{{ b.volumeInfo.title }}</h4>
        <!-- <h5>description:&nbsp;</h5> -->
        <!-- <p>{{ b.volumeInfo.description }}</p> -->
        <h5>Author(s): {{ b.volumeInfo.authors }}</h5>
        <!-- <h5>Publisher: {{ b.volumeInfo.publisher }}</h5> -->
        <h5>Categories: {{ b.volumeInfo.categories }}</h5>
        <p *ngIf="b.volumeInfo.ratingsCount != undefined">
          Rating: {{ b.volumeInfo.averageRating }} / 5
        </p>
        <p *ngIf="b.volumeInfo.ratingsCount == undefined">
          Rating not available
        </p>
        <button
          *ngIf="loggedIn && !CheckIfInFavoriteList(b)"
          (click)="addFavorite(b)"
        >
          Favorite
        </button>
        <p *ngIf="!loggedIn">Log in to add books to custom lists</p>
        <button
          *ngIf="loggedIn && !CheckIfInWishList(b)"
          (click)="addToWishList(b)"
        >
          Add To Wish List
        </button>
        <button
          *ngIf="loggedIn && !CheckIfInReadList(b)"
          (click)="addToReadList(b)"
        >
          Already Read It
        </button>
        <button
          *ngIf="loggedIn && !CheckIfInDeniedList(b)"
          (click)="addToDeniedList(b)"
        >
          Deny It
        </button>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

<!-- <div *ngFor="let r of recommendations"> -->
<!-- *ngIf="getThumbnail(recommendations[recommendationCount]) != undefined" -->
<h1 *ngIf="showRecommended()">Recommendations:</h1>
<div *ngIf="showRecommended()" class="recommendedContainer">
  <div class="recommendedThumbnail">
    <img
      class="recommendedImage"
      src="{{ getThumbnail(recommendations[recommendationCount]) }}"
    />
  </div>
  <div class="recommendedInfo">
    <h2>{{ recommendations[recommendationCount].volumeInfo.title }}</h2>
    <!-- <h5>description:&nbsp;</h5> -->
    <!-- <p>{{ b.volumeInfo.description }}</p> -->
    <h3>
      Author(s): {{ recommendations[recommendationCount].volumeInfo.authors }}
    </h3>
    <!-- <h5>Publisher: {{ b.volumeInfo.publisher }}</h5> -->
    <h3>
      Categories:
      {{ recommendations[recommendationCount].volumeInfo.categories }}
    </h3>
    <h3
      *ngIf="
        recommendations[recommendationCount].volumeInfo.ratingsCount !=
        undefined
      "
    >
      Rating:
      {{ recommendations[recommendationCount].volumeInfo.averageRating }} / 5
    </h3>
    <h3
      *ngIf="
        recommendations[recommendationCount].volumeInfo.ratingsCount ==
        undefined
      "
    >
      Ratings not available
    </h3>
  </div>
  <div class="recommendedButtons">
    <button
      class="iconButton"
      *ngIf="
        loggedIn && !CheckIfInFavoriteList(recommendations[recommendationCount])
      "
      (click)="addFavorite(recommendations[recommendationCount])"
    >
      <span id="icon" class="material-symbols-outlined"> hotel_class </span>
      <br />
      <p class="buttonText">Favorite</p>
    </button>
    <p *ngIf="!loggedIn">Log in to favorite</p>
    <br />
    <button
      class="iconButton"
      *ngIf="
        loggedIn && !CheckIfInWishList(recommendations[recommendationCount])
      "
      (click)="addToWishList(recommendations[recommendationCount])"
    >
      <span id="icon" class="material-symbols-outlined"> menu_book </span>
      <br />
      <p class="buttonText">Wish List</p>
    </button>
    <p *ngIf="!loggedIn">Log in to make a wish list</p>
    <br />
    <button
      class="iconButton"
      *ngIf="
        loggedIn && !CheckIfInReadList(recommendations[recommendationCount])
      "
      (click)="addToReadList(recommendations[recommendationCount])"
    >
      <span id="icon" class="material-symbols-outlined"> bookmark_added </span>
      <br />
      <p class="buttonText">Already Read</p>
    </button>
    <p *ngIf="!loggedIn">Log in to make a list of books you already read</p>
    <br />
    <button
      class="iconButton"
      *ngIf="
        loggedIn && !CheckIfInDeniedList(recommendations[recommendationCount])
      "
      (click)="addToDeniedList(recommendations[recommendationCount])"
    >
      <span id="icon" class="material-symbols-outlined"> dangerous </span>
      <br />
      <p class="buttonText">Uninterested</p>
    </button>
  </div>
  <br />
  <button class="nextRecommendButton" (click)="nextRecommendation()">
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </button>
</div>
<!-- </div> -->
