<!-- searchbar, allows search w/ any combination of title, author, and subject -->
<div class="searchBar">
  <form #Submit="ngForm" (ngSubmit)="SearchBooks(Submit)">
    <input type="text" name="title" placeholder="Search by title" ngModel />
    <input type="text" name="author" placeholder="Search by author" ngModel />
    <input type="text" name="subject" placeholder="Search by subject" ngModel />
    <button>Search</button>
  </form>
</div>

<div *ngIf="books.items != undefined" class="searchResultsContainer">
  <div *ngFor="let b of books.items">
    <div class="searchResult">
      <div class="searchImage">
        <a routerLink="/Book/{{ getIsbn(b) }}"
          ><img class="zoom" src="{{ getThumbnail(b) }}"
        /></a>
      </div>
      <div class="searchInfo">
        <h4>
          <a routerLink="/Book/{{ getIsbn(b) }}">{{ b.volumeInfo.title }}</a>
        </h4>
        <h5>Author(s): {{ b.volumeInfo.authors }}</h5>
        <h5>Categories: {{ b.volumeInfo.categories }}</h5>
        <p *ngIf="b.volumeInfo.ratingsCount != undefined">
          Average Rating: {{ b.volumeInfo.averageRating }} / 5
        </p>
        <p *ngIf="b.volumeInfo.ratingsCount == undefined">
          Rating not available
        </p>
      </div>
      <div class="searchButtons">
        <button
          class="iconButton"
          *ngIf="loggedIn && !CheckIfInFavoriteList(b)"
          (click)="addFavorite(b); getRecommendations(this.user.id)"
        >
          <span id="icon" class="material-symbols-outlined"> hotel_class </span>
          <br />
          <p class="buttonText">Favorite</p>
        </button>
        <p *ngIf="!loggedIn">Log in to create personalized lists</p>
        <button
          class="iconButton"
          *ngIf="loggedIn && !CheckIfInWishList(b)"
          (click)="addToWishList(b)"
        >
          <span id="icon" class="material-symbols-outlined"> menu_book </span>
          <br />
          <p class="buttonText">Wish List</p>
        </button>
        <button
          class="iconButton"
          *ngIf="loggedIn && !CheckIfInReadList(b)"
          (click)="addToReadList(b)"
        >
          <span id="icon" class="material-symbols-outlined">
            bookmark_added
          </span>
          <br />
          <p class="buttonText">Already Read</p>
        </button>
        <button
          class="iconButton"
          *ngIf="loggedIn && !CheckIfInDeniedList(b)"
          (click)="addToDeniedList(b)"
        >
          <span id="icon" class="material-symbols-outlined"> dangerous </span>
          <br />
          <p class="buttonText">Uninterested</p>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- displays recommendations only if user is logged in -->
<h1 *ngIf="showRecommended()">Recommendations:</h1>
<!-- container for recommended image, info, and buttons -->
<div *ngIf="showRecommended()" class="recommendedContainer">
  <!-- recommendation image, clicking brings user to book info page -->
  <div class="recommendedThumbnail">
    <a routerLink="/Book/{{ getIsbn(recommendations[recommendationCount]) }}"
      ><img
        class="recommendedImage"
        src="{{ getThumbnail(recommendations[recommendationCount]) }}"
    /></a>
  </div>
  <!-- displays all info on recommended book in container -->
  <div class="recommendedInfo">
    <h2>
      <a
        routerLink="/Book/{{ getIsbn(recommendations[recommendationCount]) }}"
        >{{ recommendations[recommendationCount].volumeInfo.title }}</a
      >
    </h2>
    <h3>
      Author(s): {{ recommendations[recommendationCount].volumeInfo.authors }}
    </h3>
    <h3>
      Categories:
      {{ recommendations[recommendationCount].volumeInfo.categories }}
    </h3>
    <h3
      *ngIf="
        recommendations[recommendationCount].volumeInfo.ratingsCount !=
        undefined
      "
    >
      Average Rating:
      {{ recommendations[recommendationCount].volumeInfo.averageRating }} / 5
    </h3>
    <!-- switches text if book does not have ratings -->
    <h3
      *ngIf="
        recommendations[recommendationCount].volumeInfo.ratingsCount ==
        undefined
      "
    >
      Ratings not available
    </h3>
  </div>
  <!-- holds list buttons in recommended container -->
  <div class="recommendedButtons">
    <!-- displays favorite button only if book is not favorited, if also in read list goes to next recommendation -->
    <button
      class="iconButton"
      *ngIf="
        loggedIn && !CheckIfInFavoriteList(recommendations[recommendationCount])
      "
      (click)="
        addFavorite(recommendations[recommendationCount]);
        nextFromFavorite(recommendations[recommendationCount])
      "
    >
      <span id="icon" class="material-symbols-outlined"> hotel_class </span>
      <br />
      <p class="buttonText">Favorite</p>
      <!-- displays wishlist button only if not in wishlist, goes to next recommendation -->
    </button>
    <br />
    <button
      class="iconButton"
      *ngIf="
        loggedIn && !CheckIfInWishList(recommendations[recommendationCount])
      "
      (click)="
        addToWishList(recommendations[recommendationCount]);
        nextRecommendation()
      "
    >
      <span id="icon" class="material-symbols-outlined"> menu_book </span>
      <br />
      <p class="buttonText">Wish List</p>
    </button>
    <br />
    <!-- displays readlist button only if not in readlist, goes to next recommendation if also favorited -->
    <button
      class="iconButton"
      *ngIf="
        loggedIn && !CheckIfInReadList(recommendations[recommendationCount])
      "
      (click)="
        addToReadList(recommendations[recommendationCount]);
        nextFromReadList(recommendations[recommendationCount])
      "
    >
      <span id="icon" class="material-symbols-outlined"> bookmark_added </span>
      <br />
      <p class="buttonText">Already Read</p>
    </button>
    <br />
    <!-- displays denied list button, goes to next reccomendation -->
    <button
      class="iconButton"
      *ngIf="
        loggedIn && !CheckIfInDeniedList(recommendations[recommendationCount])
      "
      (click)="
        addToDeniedList(recommendations[recommendationCount]);
        nextRecommendation()
      "
    >
      <span id="icon" class="material-symbols-outlined"> dangerous </span>
      <br />
      <p class="buttonText">Uninterested</p>
    </button>
  </div>
  <br />
  <!-- go to next recommendation without clicking list buttons -->
  <button class="nextRecommendButton" (click)="nextRecommendation()">
    <span class="material-symbols-outlined"> arrow_forward_ios </span>
  </button>
</div>
