.listContainer{
    background-color: #c3ebc6;
    border: 3px solid black;
    border-radius: 5px;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
    width: 80%;
    max-height:500px;
    overflow:scroll;
    overflow-x:hidden;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 3%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.followButton{
    transition: transform .5s;
    margin-top: 25%;
    border: none;
    background:none;
}

.followButton:hover{
    transform: scale(1.1);
    z-index: 0;
}

.pageOwnerInfo{
    border:3px solid black;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: .25%;
    width: 80%;
    margin-left: 10%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.displayButton{
    width: 25%;
    background-color: #c3ebc6;
    border: 3px solid;
}

.displayButton:hover{
    background-color: #a9ddb1;
}

.profileContainer{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    background-color: #c3ebc6;
    margin:4%;
    padding: 10px 7px 5px;
    width: 80%;
    margin-left: 10%;
}

.followContainer{
    display: flex;
    justify-content: space-between;
    background-color: #c3ebc6;
    margin:4%;
    padding: 10px 7px 5px;
    width: 80%;
    margin-left: 10%;
}

.listLabel{
    margin-left: 10%;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Noto Sans', sans-serif;
}

.iconButton{
    transition: transform .5s;
    border: none;
    background:none;
}

.iconButton:hover{
    transform: scale(1.1);
    z-index: 0;
}

#icon{
    font-size: 500%;
}

.buttonText{
    font-size: xx-small;
    background-color: #c3ebc6;
    color:#212529;
}

.bookContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.bookImage{
    transition: transform .5s;
    margin-right:5%;
}

.bookImage:hover{
    transform: scale(1.1);
}

.bookInfo{
    width: 50%;
    margin-right: 5%;
}

.bookButtons{
    float:right;
    margin-top: 5%;
}

.zoom {
    transition: transform .5s;
    width: auto;
    height: auto;
    margin: auto;
  }
  
.zoom:hover {
    transform: scale(1.1);
    z-index: 0;
  }

a{
    color: rgb(20, 20, 20)
}

a:hover{
    color: rgb(0, 102, 255);
}

a:link{
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.followScroll{
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin-left: 20%;
    overflow:scroll;
    overflow-y:hidden;
}

.review{
    margin-right: 2%;
    margin-left:2%;
    margin-bottom: 1%;
    border: 3px solid black;
    border-radius: 8px;
    padding: 1%;
    font-size: small;
}

.reviewLabel{
    display: inline-block;
    margin-left: 3%;
}

.reviewButtons{
    display: inline-block;
    margin-left: 25%;
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 2%;
}