<!-- User Information -->
<!-- <h1 *ngIf="!loggedIn">Please sign in to see your profile!</h1> -->
<div class="profileContainer">
  <p *ngIf="checkIfPageOwner() && loggedIn">Welcome {{ user.firstName }}!</p>
  <p *ngIf="!checkIfPageOwner()">{{ user.name }}</p>

  <img src="{{ user.photoUrl }}" />
  <button
    *ngIf="!followedByActiveUser() && !checkIfPageOwner() && loggedIn"
    (click)="followUser()"
  >
    Follow
  </button>
  <button
    *ngIf="followedByActiveUser() && !checkIfPageOwner() && loggedIn"
    (click)="unfollowUser()"
  >
    Unfollow
  </button>

  <!-- Display number of items in each list -->
  <p *ngIf="displayFavoriteList">
    # of Favorite List {{ favListItems.length }}
  </p>
  <p *ngIf="displayWishList">
    # of Books in Your Wish List {{ wishListItems.length }}
  </p>
  <p *ngIf="displayReadList">
    # of Books in Your Read List {{ readListItems.length }}
  </p>
  <p *ngIf="displayDeniedList">
    # of Books in Your Denied List {{ deniedListItems.length }}
  </p>
  <p *ngIf="displayFollowers">
    # of People That Follow You {{ followingUsers.length }}
  </p>
  <p *ngIf="displayWhoUserIsFollowing">
    # of People You Follow {{ beingFollowedByUsers.length }}
  </p>
  <!-- <p *ngIf="displayRecommendationsByOthers">
    # of Books Recommended By Followers {{ deniedListItems.length }}
  </p>
  <p *ngIf="displayReviewsByUser">
    # of Reviews You Wrote {{ deniedListItems.length }}
  </p> -->
</div>

<!-- Buttons for changing display -->
<div class="buttonContainer">
  <button class="displayButton" (click)="toggleFavoriteList()">
    Favorites
  </button>
  <button class="displayButton" (click)="toggleWishList()">WishList</button>
  <button class="displayButton" (click)="toggleReadList()">ReadList</button>
  <button class="displayButton" (click)="toggleDeniedList()">DeniedList</button>
</div>

<!-- Buttons for viewing follower information -->
<div class="buttonContainer">
  <button class="displayButton" (click)="toggleFollowers()">Followers</button>
  <button class="displayButton" (click)="toggleBeingFollowedBy()">
    Following
  </button>
  <button class="displayButton" (click)="toggleRecommendationsByOtherUsers()">
    Recommended By Followers
  </button>
  <button class="displayButton" (click)="toggleUserReviews()">
    Your Reviews
  </button>
</div>

<!-- List Displays -->
<div *ngIf="displayFavoriteList">
  <div class="listContainer">
    <h3>Favorite List</h3>
    <div *ngFor="let f of favListItems">
      <div class="bookContainer">
        <div class="bookImage">
          <a routerLink="/Book/{{ getIsbn(f) }}"
            ><img src="{{ getThumbnail(f) }}"
          /></a>
        </div>
        <div class="bookInfo">
          <a routerLink="/Book/{{ getIsbn(f) }}"
            ><h4>{{ f.volumeInfo.title }}</h4></a
          >
          <h5>Author(s): {{ f.volumeInfo.authors }}</h5>
          <h5>Categories: {{ f.volumeInfo.categories }}</h5>
          <p *ngIf="f.volumeInfo.ratingsCount != undefined">
            Rating: {{ f.volumeInfo.averageRating }} / 5
          </p>
          <p *ngIf="f.volumeInfo.ratingsCount == undefined">
            Rating not available
          </p>
        </div>
        <div *ngIf="checkIfPageOwner() && loggedIn" class="bookButtons">
          <button class="iconButton" (click)="deleteFavoriteListObject(f)">
            <span id="icon" class="material-symbols-outlined"> delete </span
            ><br />
            <p class="buttonText">Remove</p>
          </button>
          <button
            class="iconButton"
            *ngIf="!checkIfInReadList(f)"
            (click)="addToReadList(f)"
          >
            <span id="icon" class="material-symbols-outlined">
              bookmark_added
            </span>
            <br />
            <p class="buttonText">Already Read</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayWishList">
  <div class="listContainer">
    <h3>Wish List</h3>
    <div *ngFor="let w of wishListItems">
      <div class="bookContainer">
        <div class="bookImage">
          <a routerLink="/Book/{{ getIsbn(w) }}"
            ><img src="{{ getThumbnail(w) }}"
          /></a>
        </div>
        <div class="bookInfo">
          <h4>
            <a routerLink="/Book/{{ getIsbn(w) }}">{{ w.volumeInfo.title }}</a>
          </h4>
          <h5>Author(s): {{ w.volumeInfo.authors }}</h5>
          <h5>Categories: {{ w.volumeInfo.categories }}</h5>
          <p *ngIf="w.volumeInfo.ratingsCount != undefined">
            Rating: {{ w.volumeInfo.averageRating }} / 5
          </p>
          <p *ngIf="w.volumeInfo.ratingsCount == undefined">
            Rating not available
          </p>
        </div>
        <div *ngIf="checkIfPageOwner() && loggedIn" class="bookButtons">
          <button class="iconButton" (click)="deleteWishListObject(w)">
            <span id="icon" class="material-symbols-outlined"> delete </span
            ><br />
            <p class="buttonText">Remove</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayReadList">
  <div class="listContainer">
    <h3>Read List</h3>
    <div *ngFor="let r of readListItems">
      <div class="bookContainer">
        <div class="bookImage">
          <a routerLink="/Book/{{ getIsbn(r) }}"
            ><img src="{{ getThumbnail(r) }}"
          /></a>
        </div>
        <div class="bookInfo">
          <h4>
            <a routerLink="/Book/{{ getIsbn(r) }}">{{ r.volumeInfo.title }}</a>
          </h4>
          <h5>Author(s): {{ r.volumeInfo.authors }}</h5>
          <h5>Categories: {{ r.volumeInfo.categories }}</h5>
          <p *ngIf="r.volumeInfo.ratingsCount != undefined">
            Rating: {{ r.volumeInfo.averageRating }} / 5
          </p>
          <p *ngIf="r.volumeInfo.ratingsCount == undefined">
            Rating not available
          </p>
        </div>
        <div *ngIf="checkIfPageOwner() && loggedIn" class="bookButtons">
          <button class="iconButton" (click)="deleteReadListObject(r)">
            <span id="icon" class="material-symbols-outlined"> delete </span
            ><br />
            <p class="buttonText">Remove</p>
          </button>
          <button
            class="iconButton"
            *ngIf="!checkIfInFavoriteList(r)"
            (click)="addFavorite(r)"
          >
            <span id="icon" class="material-symbols-outlined">
              hotel_class
            </span>
            <br />
            <p class="buttonText">Favorite</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayDeniedList">
  <div class="listContainer">
    <h3>Denied List</h3>
    <div *ngFor="let d of deniedListItems">
      <div class="bookContainer">
        <div class="bookImage">
          <a routerLink="/Book/{{ getIsbn(d) }}"
            ><img src="{{ getThumbnail(d) }}"
          /></a>
        </div>
        <div class="bookInfo">
          <h4>
            <a routerLink="/Book/{{ getIsbn(d) }}">{{ d.volumeInfo.title }}</a>
          </h4>
          <h5>Author(s): {{ d.volumeInfo.authors }}</h5>
          <h5>Categories: {{ d.volumeInfo.categories }}</h5>
          <p *ngIf="d.volumeInfo.ratingsCount != undefined">
            Rating: {{ d.volumeInfo.averageRating }} / 5
          </p>
          <p *ngIf="d.volumeInfo.ratingsCount == undefined">
            Rating not available
          </p>
        </div>
        <div *ngIf="checkIfPageOwner() && loggedIn" class="bookButtons">
          <button class="iconButton" (click)="deleteDeniedListObject(d)">
            <span id="icon" class="material-symbols-outlined"> delete </span
            ><br />
            <p class="buttonText">Remove</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayFollowers">
  <div class="listContainer">
    <h3>Followers:</h3>
    <div *ngFor="let f of followingUsers">
      <div class="profileContainer">
        <p *ngIf="checkIfPageOwner() && loggedIn">{{ f.name }}</p>
        <img src="{{ f.photoUrl }}" />
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayWhoUserIsFollowing">
  <div class="listContainer">
    <h3>Following:</h3>
    <div *ngFor="let f of beingFollowedByUsers">
      <div class="profileContainer">
        <p *ngIf="checkIfPageOwner() && loggedIn">{{ f.name }}</p>
        <img src="{{ f.photoUrl }}" />
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="displayRecommendationsByOthers">
  <div class="listContainer">
    <h3>Other User Recommendations:</h3>
    <div *ngFor="let ur of userRecommendations"></div>
  </div>
</div>

<div *ngIf="displayReviewsByUser">
  <div class="listContainer">
    <h3>Your Reviews:</h3>
    <div *ngFor="let r of userReviews"></div>
  </div>
</div> -->
