<!-- User Information -->
<h1 *ngIf="!loggedIn">Please sign in to see your profile!</h1>

<p *ngIf="loggedIn">Welcome {{ user.firstName }}!</p>

<img src="{{ user.photoUrl }}" />
<br />
<br />

<!-- Display number of items in each list -->
<p *ngIf="loggedIn && displayFavoriteList">
  # of Favorite List {{ favListItems.length }}
</p>
<p *ngIf="loggedIn && displayWishList">
  # of Wish List {{ wishListItems.length }}
</p>
<p *ngIf="loggedIn && displayReadList">
  # of Read List {{ readListItems.length }}
</p>
<p *ngIf="loggedIn && displayDeniedList">
  # of Denied List {{ deniedListItems.length }}
</p>

<!-- Buttons -->
<button *ngIf="loggedIn" (click)="toggleFavoriteList()">Favorites</button>
<button *ngIf="loggedIn" (click)="toggleWishList()">WishList</button>
<button *ngIf="loggedIn" (click)="toggleReadList()">ReadList</button>
<button *ngIf="loggedIn" (click)="toggleDeniedList()">DeniedList</button>

<!-- List Displays -->
<div *ngIf="displayFavoriteList">
  <h3 *ngIf="loggedIn">Favorite List</h3>
  <div *ngFor="let f of favListItems">
    <img src="{{ getThumbnail(f) }}" />
    <h4>{{ f.volumeInfo.title }}</h4>
    <h5>Author(s): {{ f.volumeInfo.authors }}</h5>
    <h5>Categories: {{ f.volumeInfo.categories }}</h5>
    <p *ngIf="f.volumeInfo.ratingsCount != undefined">
      Rating: {{ f.volumeInfo.averageRating }} / 5
    </p>
    <p *ngIf="f.volumeInfo.ratingsCount == undefined">Rating not available</p>
    <button (click)="deleteFavoriteListObject(f)">remove</button>
    <button *ngIf="!checkIfInReadList(f)" (click)="addToReadList(f)">
      readList
    </button>
  </div>
</div>

<div *ngIf="displayWishList">
  <h3 *ngIf="loggedIn">Wish List</h3>
  <div *ngFor="let w of wishListItems">
    <img src="{{ getThumbnail(w) }}" />
    <h4>{{ w.volumeInfo.title }}</h4>
    <h5>Author(s): {{ w.volumeInfo.authors }}</h5>
    <h5>Categories: {{ w.volumeInfo.categories }}</h5>
    <p *ngIf="w.volumeInfo.ratingsCount != undefined">
      Rating: {{ w.volumeInfo.averageRating }} / 5
    </p>
    <p *ngIf="w.volumeInfo.ratingsCount == undefined">Rating not available</p>
    <button (click)="deleteWishListObject(w)">Remove</button>
  </div>
</div>

<div *ngIf="displayReadList">
  <h3 *ngIf="loggedIn">Read List</h3>
  <div *ngFor="let r of readListItems">
    <img src="{{ getThumbnail(r) }}" />
    <h4>{{ r.volumeInfo.title }}</h4>
    <h5>Author(s): {{ r.volumeInfo.authors }}</h5>
    <h5>Categories: {{ r.volumeInfo.categories }}</h5>
    <p *ngIf="r.volumeInfo.ratingsCount != undefined">
      Rating: {{ r.volumeInfo.averageRating }} / 5
    </p>
    <p *ngIf="r.volumeInfo.ratingsCount == undefined">Rating not available</p>
    <button (click)="deleteReadListObject(r)">remove</button>
    <button *ngIf="!checkIfInFavoriteList(r)" (click)="addFavorite(r)">
      favorite
    </button>
  </div>
</div>

<div *ngIf="displayDeniedList">
  <h3 *ngIf="loggedIn">Denied List</h3>
  <div *ngFor="let d of deniedListItems">
    <img src="{{ getThumbnail(d) }}" />
    <h4>{{ d.volumeInfo.title }}</h4>
    <h5>Author(s): {{ d.volumeInfo.authors }}</h5>
    <h5>Categories: {{ d.volumeInfo.categories }}</h5>
    <p *ngIf="d.volumeInfo.ratingsCount != undefined">
      Rating: {{ d.volumeInfo.averageRating }} / 5
    </p>
    <p *ngIf="d.volumeInfo.ratingsCount == undefined">Rating not available</p>
    <button (click)="deleteDeniedListObject(d)">remove</button>
  </div>
</div>
